<a href="https://it-omscholing.nl/locaties/hogeschool-rotterdam/">
<div>
<a><img src='../pics/banner.PNG'/></a>
</div>
<div>
<a href=''><img src='../pics/miw.PNG'/></a>
<em>Author: Jeroen Boogaard</em>
</div>
</a>

<h1>Numpy</h1>

**Imports**

In [128]:
import numpy as np
import pandas as pd
from PIL import Image
from scipy import ndimage

<h2>Opdracht 1</h2>

<h3>Gegeven</h3>

Planeet | Grootte to.v. de omvang van de Aarde
---|---
Jupiter | 1120%
Saturnus | 945%
Uranus | 400%
Neptunus | 388%
Aarde| 100%
Venus | 95%
Mars | 53%

In [129]:
filename = "csv/planets.csv"

In [130]:
ls pics

earth.jpg         mars.jpg          neptune.jpg       uranus.jpg
earth_scaled.jpg  mars.nasa.jpg     pluto.jpg         venus.jpg
jupiter.jpg       mercury.jpg       saturn.jpg        venus.png

<h3>Gevraagd</h3>
<p>
Schaal voor elke (erkende) planeet uit ons zonnestelsel de bijbehorende image t.o.v. van de aarde. Het geschaalde plaatje moet groter zijn dan het plaatje van de aarde als de bijbehorende planeet groter is dan de aarde. Is de planeet kleiner dan de aarde dan moet het nieuwe plaatje kleiner zijn. Gebruik voor de schaalfactor het percentage. 
Tip: Indien nodig kun je de images normaliseren door eerst het plaatje van de aarde te schalen
</p>

<h3>Oplossing</h3>
<ol>
    <li>
        <strong>Open het bestand csv/planets.csv en voeg daar de kolom <i>image</i></strong>
    </li>
    <li>
        <strong>Importeer het csv-bestand en sla de data op in een dictionary</strong>
    </li>
    <li>
        <strong>Open een image uit van een item uit de dictionary</strong>
    </li>
    <li>
        <strong>Schaal de image m.b.v. een <i>numpy array</i></strong>
    </li>
    <li>
        <strong>Sla de geschaalde image op</strong>
    </li>
    <li>
        <strong>Schrijf een functie voor het schalen van een image</strong>
    </li>    
    <li>
        <strong>Maak een loop waarbij voor elke planeet een geschaalde image wordt gemaakt en opgelagen</strong>
    </li>    
</ol>

**Stap 2: Importeer het csv-bestand en sla de data op in een dictionary**

In [131]:
planetDataFrame = pd.read_csv(filename, header = 0, sep = ',')
Scale = ['.38', '.95', '1', '.53', '11.20', '9.45', '4.00', '3.88', '.17']
planetDataFrame['Scale'] = Scale
print(planetDataFrame)
#print(planetDataFrame.columns)

planetDict = planetDataFrame.to_dict
#print(planetDict)

      Name   Diameter          Mass   Inclination   Eccentricity  \
0  Mercury     4879.4   3.302×10^23      7.004000       0.205636
1    Venus    12103.6   4.869×10^24      3.394710       0.006777
2    Earth    12756.3   5.974×10^24      0.000050       0.016711
3     Mars     6794.4   6.419×10^23      1.850610       0.093394
4  Jupiter   142984.0   1.899×10^27      1.305300       0.048386
5   Saturn   120536.0   5.688×10^26      2.484460       0.053862
6   Uranus    51118.0   8.683×10^25      0.774000       0.047257
7  Neptune    49572.0   1.024×10^26      1.769170       0.008590
8    Pluto     2370.0     1.3×10^22     17.089001       0.250249

    Semi_majorAxis   SurfaceGravity   OrbitalPeriod   SiderealRotation  \
0         0.387099             3.70        0.241000          58.650000
1         0.723336             8.87        0.615000         243.018700
2         1.000003             9.78        1.000000           0.997271
3         1.523710             3.71        1.881000           1.025950
4         5.202887            24.79       11.860000           0.413500
5         9.536676             8.96       29.460000           0.426400
6        19.189165             7.77       84.010000           0.718100
7        30.069923            11.00      164.790000           0.671200
8        39.445070             0.62      247.740662           6.387230

    Satellites  Scale
0            0    .38
1            0    .95
2            1      1
3            2    .53
4           63  11.20
5           64   9.45
6           27   4.00
7           14   3.88
8            5    .17

**Stap 3: Open een image uit van een item uit de dictionary**

In [159]:
# img0 = ('../pics/mercury.jpg')
# img1 = ('..pics/venus.jpg') 
# img2 = ('..pics/earth.jpg')
# img3 = ('..pics/mars.jpg')
# img4 = ('..pics/jupiter.jpg')
# img5 = ('..pics/saturn.jpg')
# img6 = ('..pics/uranus.jpg')
# img7 = ('..pics/neptune.jpg')
# img8 = ('..pics/pluto.jpg')

img0 = Image.open('pics/mercury.jpg')
img1 = Image.open('pics/venus.jpg') # beter naar pad refereren?
img2 = Image.open('pics/earth.jpg')
img3 = Image.open('pics/mars.jpg')
img4 = Image.open('pics/jupiter.jpg')
img5 = Image.open('pics/saturn.jpg')
img6 = Image.open('pics/uranus.jpg')
img7 = Image.open('pics/neptune.jpg')
img8 = Image.open('pics/pluto.jpg')

imageList = [(img0), (img1), (img2), (img3), (img4), (img5), (img6), (img7), (img8)]
planetDataFrame['imageList'] = imageList

print (planetDataFrame)
                  
#img0.show()

      Name   Diameter          Mass   Inclination   Eccentricity  \
0  Mercury     4879.4   3.302×10^23      7.004000       0.205636
1    Venus    12103.6   4.869×10^24      3.394710       0.006777
2    Earth    12756.3   5.974×10^24      0.000050       0.016711
3     Mars     6794.4   6.419×10^23      1.850610       0.093394
4  Jupiter   142984.0   1.899×10^27      1.305300       0.048386
5   Saturn   120536.0   5.688×10^26      2.484460       0.053862
6   Uranus    51118.0   8.683×10^25      0.774000       0.047257
7  Neptune    49572.0   1.024×10^26      1.769170       0.008590
8    Pluto     2370.0     1.3×10^22     17.089001       0.250249

    Semi_majorAxis   SurfaceGravity   OrbitalPeriod   SiderealRotation  \
0         0.387099             3.70        0.241000          58.650000
1         0.723336             8.87        0.615000         243.018700
2         1.000003             9.78        1.000000           0.997271
3         1.523710             3.71        1.881000           1.025950
4         5.202887            24.79       11.860000           0.413500
5         9.536676             8.96       29.460000           0.426400
6        19.189165             7.77       84.010000           0.718100
7        30.069923            11.00      164.790000           0.671200
8        39.445070             0.62      247.740662           6.387230

    Satellites  Scale                Array  \
0            0   0.38  ../pics/mercury.jpg
1            0   0.95     ..pics/venus.jpg
2            1   1.00     ..pics/earth.jpg
3            2   0.53      ..pics/mars.jpg
4           63  11.20   ..pics/jupiter.jpg
5           64   9.45    ..pics/saturn.jpg
6           27   4.00    ..pics/uranus.jpg
7           14   3.88   ..pics/neptune.jpg
8            5   0.17     ..pics/pluto.jpg

                                           imageList
0  <PIL.JpegImagePlugin.JpegImageFile image mode=...
1  <PIL.JpegImagePlugin.JpegImageFile image mode=...
2  <PIL.JpegImagePlugin.JpegImageFile image mode=...
3  <PIL.JpegImagePlugin.JpegImageFile image mode=...
4  <PIL.JpegImagePlugin.JpegImageFile image mode=...
5  <PIL.JpegImagePlugin.JpegImageFile image mode=...
6  <PIL.JpegImagePlugin.JpegImageFile image mode=...
7  <PIL.JpegImagePlugin.JpegImageFile image mode=...
8  <PIL.JpegImagePlugin.JpegImageFile image mode=...

**Stap 4: Schaal de image m.b.v. een numpy array**

In [167]:
array = np.array(img6)
# print (type(array))
# print (array.ndim)

scaleFactor = 4
scaleArray= ndimage.zoom(array, (scaleFactor, scaleFactor, 1))
imgScaled = Image.fromarray(scaleArray)
imgScaled.show()

**Stap 5: Sla de geschaalde image op**

In [162]:
imgScaled.save(img6.filename.replace(".jpg","_scaled.jpg"))

**Stap 6: Schrijf een functie voor het schalen van een image**

In [165]:
planetDataFrame.Scale = planetDataFrame.Scale.astype(float) #nalopen

for i in range(planetDataFrame.shape[0]):
    row = planetDataFrame.iloc[i]
    my_func(row)
    print(row.imgageList)
    print(ndimage.zoom(np.imageList(row.imageList), (row.Scale, row.Scale, 1)).shape)

<PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=320x240 at 0x7FD998EA7070>
(91, 122, 3)

AttributeError: 'Series' object has no attribute 'imgageList'

In [138]:

    
    # imgScaled.save(img.filename.replace(".jpg","_scaled.jpg"))

AttributeError: 'Series' object has no attribute 'imageList'

In [ ]:
planetDataFrame.Scale = planetDataFrame.Scale.astype(float)

# planetDataFrame.apply(my_func, axis=1) (easier than loop)

for i in range(planetDataFrame.shape[0]):
    row = planetDataFrame.iloc[i]
    my_func(row)
    print(row.imageList)
    # print(ndimage.zoom(np.array(row.imageList), (row.Scale, row.Scale, 1)).shape)

 # add logic to save here

**Stap 7: Maak een loop waarbij voor elke planeet een geschaalde image wordt gemaakt en opgelagen**

<h4>Bonus: Voeg Mercurius aan de tabel toe en schaal ook daarvan het plaatje</h4>

</ol>

</ol>