<a href="https://it-omscholing.nl/locaties/hogeschool-rotterdam/">
<div>
<a><img src='../pics/banner.PNG'/></a>
</div>
<div>
<a href=''><img src='../pics/miw.PNG'/></a>
<em>Author: Jeroen Boogaard</em>
</div>
</a>

<h1>Numpy</h1>

**Imports**

In [93]:
import numpy as np
import pandas as pd
from PIL import Image
from scipy import ndimage

<h2>Opdracht 1</h2>

<h3>Gegeven</h3>

Planeet | Grootte to.v. de omvang van de Aarde
---|---
Jupiter | 1120%
Saturnus | 945%
Uranus | 400%
Neptunus | 388%
Aarde| 100%
Venus | 95%
Mars | 53%

In [94]:
filename = "csv/planets.csv"

In [95]:
ls pics

earth.jpg         mars.jpg          neptune.jpg       uranus.jpg
earth_scaled.jpg  mars.nasa.jpg     pluto.jpg         venus.jpg
jupiter.jpg       mercury.jpg       saturn.jpg        venus.png

<h3>Gevraagd</h3>
<p>
Schaal voor elke (erkende) planeet uit ons zonnestelsel de bijbehorende image t.o.v. van de aarde. Het geschaalde plaatje moet groter zijn dan het plaatje van de aarde als de bijbehorende planeet groter is dan de aarde. Is de planeet kleiner dan de aarde dan moet het nieuwe plaatje kleiner zijn. Gebruik voor de schaalfactor het percentage. 
Tip: Indien nodig kun je de images normaliseren door eerst het plaatje van de aarde te schalen
</p>

<h3>Oplossing</h3>
<ol>
    <li>
        <strong>Open het bestand csv/planets.csv en voeg daar de kolom <i>image</i></strong>
    </li>
    <li>
        <strong>Importeer het csv-bestand en sla de data op in een dictionary</strong>
    </li>
    <li>
        <strong>Open een image uit van een item uit de dictionary</strong>
    </li>
    <li>
        <strong>Schaal de image m.b.v. een <i>numpy array</i></strong>
    </li>
    <li>
        <strong>Sla de geschaalde image op</strong>
    </li>
    <li>
        <strong>Schrijf een functie voor het schalen van een image</strong>
    </li>    
    <li>
        <strong>Maak een loop waarbij voor elke planeet een geschaalde image wordt gemaakt en opgelagen</strong>
    </li>    
</ol>

**Stap 2: Importeer het csv-bestand en sla de data op in een dictionary**

In [109]:
planetDataFrame = pd.read_csv(filename, header = 0, sep = ',')
Scale = ['.38', '.95', '100', '.53', '11.20', '9.45', '4.00', '3.88', '.17']
planetDataFrame['Scale'] = Scale

planetDict = planetDataFrame.to_dict

print(type(planetDataFrame))

#print(planetDataFrame.columns)

<class 'pandas.core.frame.DataFrame'>

'3.88'

**Stap 3: Open een image uit van een item uit de dictionary**

In [ ]:
img0 = Image.open('pics/mercury.jpg')
# img1 = Image.open('pics/venus.jpg') # beter naar pad refereren?
# img2 = Image.open('pics/earth.jpg')
# img3 = Image.open('pics/mars.jpg')
# img4 = Image.open('pics/jupiter.jpg')
# img5 = Image.open('pics/saturn.jpg')
# img6 = Image.open('pics/uranus.jpg')
# img7 = Image.open('pics/neptune.jpg')
# img8 = Image.open('pics/pluto.jpg')
                  
# planetDataFrame.items()
# Image = [(img0), (img1),(img2), (img3),(img4), (img5),(img6), (img7), (img8)]
# planetDataFrame['Image'] = Image

# print (planetDataFrame)

print(img0.format)
print(img0.size)

**Stap 4: Schaal de image m.b.v. een numpy array**

In [ ]:
# if __name__ == '__main__':
#     img0
#     width, height=img0.size
#     print(width, height)
#     img1
#     width, height=img1.size
#     print(width, height)
#     img2
#     width, height=img1.size
#     print(width, height)
#     img3
#     width, height=img1.size
#     print(width, height)
#     img4
#     width, height=img1.size
#     print(width, height)
#     img5
#     width, height=img1.size
#     print(width, height)
#     img6
#     width, height=img1.size
#     print(width, height)
#     img7
#     width, height=img1.size
#     print(width, height)
#     img8
#     width, height=img1.size
#     print(width, height)

print(type(img0))


array0 = np.array(img0)
array1 = np.array(img1)
array2 = np.array(img2)
array3 = np.array(img3)
array4 = np.array(img4)
array5 = np.array(img5)
array6 = np.array(img6)
array7 = np.array(img7)
array8 = np.array(img8)
print (type(array8))


# planetDataFrame.iloc[0][10]
# planetDataFrame.iloc[1][10]
# planetDataFrame.iloc[2][10]
# planetDataFrame.iloc[3][10]
# planetDataFrame.iloc[4][10]
# planetDataFrame.iloc[5][10]
# planetDataFrame.iloc[6][10]
# planetDataFrame.iloc[7][10]
#planetDataFrame.iloc[8][10]

In [ ]:
array0 = np.array(img0)
scaleFactor = 1
scaleArray= ndimage.zoom(array, (scaleFactor, scaleFactor, 1))
imgScaled = Image.fromarray(scaleArray)
imgScaled.show()

**Stap 5: Sla de geschaalde image op**

In [ ]:
imgScaled.save(img.filename.replace(".jpg","_scaled.jpg"))

**Stap 6: Schrijf een functie voor het schalen van een image**

In [ ]:
planetDataFrame = pd.read_csv(filename, header = 0, sep = ',')
Scale = ['.38', '.95', '100', '.53', '11.20', '9.45', '4.00', '3.88', '.17']
planetDataFrame['Scale'] = Scale

# opslag
openImages = []
scaledImages =[]

for i

**Stap 7: Maak een loop waarbij voor elke planeet een geschaalde image wordt gemaakt en opgelagen**

<h4>Bonus: Voeg Mercurius aan de tabel toe en schaal ook daarvan het plaatje</h4>

</ol>

</ol>